
<h1>Projects</h1>

<%= form_with model: @project, local: true do |form| %>
  <%= form.text_field :name, placeholder: "New Project Name" %>
  <%= form.submit "Create" %>
<% end %>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.name %> |
      <%= link_to "Manage Tasks", project_tasks_path(project) %>
      <%= button_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
